
<div class="login">
    
    <div class="box-login">
        <div class="container">
            <div class="row">
              <div class="col-sm-6">
               <div id="texto-informativo">
                   <span>As informações contidas nos sistemas informatizados da administração pública estão protegidas por sigilo.
                   O acesso não autorizado ou não motivado por necessidade de serviço, a disponibilização voluntária 
                       ou acidental da senha de acesso ou de informações e a quebra do sigilo constituem infrações ou ilícitos 
                       que sujeitam o usuário a responsabilização administrativa, penal e civil.
                   Quando encerrar as operações, tenha cuidado ao sair do sistema. Ao acessar o sistema, o usuário declara-se 
                       ciente das responsabilidades acima referidas.
                     <br>  <b>Base Legal:</b>  Constituição Federal; Código Penal; Código de Conduta da Alta Administração Federal.</span>
                   </div>
              </div>
              <div class="col-sm-6">
               <figure id="logo">
                   <img src="./assets/image/SisConv.png" >
               </figure>
               
               <form id="form-login" #f="ngForm" (ngSubmit)="onSubmit(f)" >
                   <div id="alinhamento">

                          
                        <div class="form-group">



                            <input type="text" class="form-control" [ngClass]="{'is-invalid': nip.invalid && nip.touched}" id="nip" name="nip" 
                            aria-describedby="emailHelp" placeholder="Seu NIP" [(ngModel)]="usuario.nip" required #nip="ngModel">
                            <div class="invalid-feedback">
                                Por favor, digite seu NIP.
                              </div>
                        </div>
                        <div class="form-group">
                        <input type="password" class="form-control" [ngClass]="{'is-invalid': senha.invalid && senha.touched}"
                         id="senha" name="senha" placeholder="Senha" [(ngModel)]="usuario.senha" required #senha="ngModel">
                         <div class="invalid-feedback">
                            Por favor, digite sua senha.
                          </div>
                         
                        </div>
                        
                   </div>
               
               
                <button   type="submit" class="btn btn-primary" [disabled]="f.invalid">Entrar</button>
              </form>
              </div>
              
            </div>
          </div>

    </div>

    
</div>

