
<div class="login">
    <div class="box-login">
        <div class="container">
            <div class="row">
              <div class="col-sm-6">
               <div id="texto-informativo">
                   <span>As informações contidas nos sistemas informatizados da administração pública estão protegidas por sigilo.
                   O acesso não autorizado ou não motivado por necessidade de serviço, a disponibilização voluntária 
                       ou acidental da senha de acesso ou de informações e a quebra do sigilo constituem infrações ou ilícitos 
                       que sujeitam o usuário a responsabilização administrativa, penal e civil.
                   Quando encerrar as operações, tenha cuidado ao sair do sistema. Ao acessar o sistema, o usuário declara-se 
                       ciente das responsabilidades acima referidas.
                     <br>  <b>Base Legal:</b>  Constituição Federal; Código Penal; Código de Conduta da Alta Administração Federal.</span>
                   </div>
              </div>
              <div class="col-sm-6">
               <figure id="logo">
                   <img src="../../assets/image/SisConv.png" >
               </figure>
               <li routerLinkActive="active"> <a routerLink="/login">login</a>             </li>
               <li routerLinkActive="active"> <a routerLink="/home">home</a>             </li>
              </div>
              
            </div>
          </div>

    </div>

</div>