  
  <!-- *ngIf="autenticacao" -->
  <nav class="navbar navbar-expand-lg navbar-light  bg-dark"  id="navbar">
    
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
   </button>
   <a id="logo" routerLink="/home"><figure><img src="./../assets/image/SisConV_2.png" alt=""></figure></a>
   <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      
     <ul class="navbar-nav mr-auto" id="navbar-ul">
        
       <li class="nav-item active" routerLinkActive="active">
         <a class="nav-link"  routerLink="/home">Pagina Inicial <span class="sr-only">(página atual)</span></a>
       </li>
       <li class="nav-item" routerLinkActive="active">
         <a class="nav-link" routerLink="/login"   (click)="logout()">Logout</a>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Veiculos
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Pesquisar veiculo</a>
           <a class="dropdown-item" href="#">Cadastrar veiculo</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Excluir veiculo</a>
         </div>
       </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cartões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Pesquisar cartao</a>

        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proprietários
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Pesquisar proprietário</a>
          <a class="dropdown-item" href="#">Cadastrar proprietário</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Excluir proprietário</a>
        </div>
      </li>
     </ul>
     
   </div>
   <div class="collapse navbar-collapse" id="nav-configuracao">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Configuração
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">sobre</a>
    
            </div>
          </li>
     </ul>
   </div>
 </nav>

  
  <div id="content">


   <!-- <router-outlet></router-outlet> -->
   <app-home></app-home>


   </div>
   <footer>

      <div id="secundario"> 
         <figure id="marinha-logo">
            <img src="./assets/image/marinha.png" >
         </figure>
      </div>
      
  </footer>