  
 <body [ngClass]="{'login': !autenticacao}">
  <!-- -->
  <nav class="navbar navbar-expand-lg navbar-light  bg-dark"  id="navbar" *ngIf="autenticacao" >
    
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
   </button>
   <svg-icon src="./assets/image/ICON.svg" [svgStyle]="{ 'width.px':110 }"></svg-icon>
   <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      
     <ul class="navbar-nav mr-auto" id="navbar-ul">
        
       <li class="nav-item ">
         <a class="nav-link"  routerLink="/home"  routerLinkActive="active">Pagina Inicial <span class="sr-only">(página atual)</span></a>
       </li>
       
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false" [ngClass]="{ 'remAtivo': vr.isActive, 'pesAtivo': vp.isActive, 'addAtivo': va.isActive}"> 
           Veiculos
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" routerLink="/veiculos/pesquisar" routerLinkActive="active" #vp="routerLinkActive" >Pesquisar veiculo</a>
           <a class="dropdown-item" routerLink="/veiculos/adicionar" routerLinkActive="active" #va="routerLinkActive" >Cadastrar veiculo</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" routerLink="/veiculos/remover" routerLinkActive="active" #vr="routerLinkActive" >Excluir veiculo</a>
         </div>
       </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cartões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/cartoes" routerLinkActive="active" >Pesquisar cartao</a>

        </div>
      </li>
       <li class="nav-item dropdown">
        
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false" [ngClass]="{ 'remAtivo': r.isActive, 'pesAtivo': p.isActive, 'addAtivo': a.isActive}"> 

          Proprietários
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/proprietarios/" routerLinkActive='active' #p="routerLinkActive" >Pesquisar proprietário</a>
          <a class="dropdown-item" routerLink="/proprietarios/adicionar" routerLinkActive='active' #a="routerLinkActive">Cadastrar proprietário</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/proprietarios/remover"  routerLinkActive='active' #r="routerLinkActive" >Excluir proprietário</a>
        </div> 
      </li>

     </ul>
     
   </div>
   <div class="collapse navbar-collapse" id="nav-configuracao">
     <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Configuração
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"routerLink="/usuarios" routerLinkActive="active" >Usuários</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/sobre" routerLinkActive="active" >sobre</a>
    
            </div>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <p id="perfil-user">Conectado como <strong>Admin</strong></p>
              <hr>
              <a class="dropdown-item"routerLink="/perfil" routerLinkActive="active" >Seu Perfil</a>
              <a class="dropdown-item"routerLink="/usuarios" routerLinkActive="active" >Gerenciar Usuários</a>
              <a class="dropdown-item"routerLink="/relatorio" routerLinkActive="active" >Gerar Relatótios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/ajuda" routerLinkActive="active" >Ajuda</a>
              <a class="dropdown-item" routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>

    
            </div>
          </li>

     </ul>
   </div>
 </nav>

  


<div class="conteudo">
    <router-outlet></router-outlet>

</div>
   <!-- <app-proprietarios></app-proprietarios> -->


   
  
   <footer class="footer" [ngClass]="{'footer-login': !autenticacao }">

      <div id="secundario"> 
         <figure id="marinha-logo">
            <img src="./assets/image/marinha.png" >
         </figure>
      </div>
      
  </footer>

</body>