#content{
    height: 100%;
    margin-bottom: -70px;
}
footer{
    background-color: #1E124D;
    width: 100%;
    height: 70px;
    
}
#secundario{
    width: 100%;
    height: 15px;
    background-color: #2F2559;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#marinha-logo{
    width: 53px;
    position: relative;
    bottom: 37px;
}
#marinha-logo img{
    width: 100%;
}

#navbar {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #212F6F!important;
}

#conteudoNavbarSuportado{
    padding-left: 80px;
}
#navbar-ul li a{
    color: white
}
#nav-configuracao ul li a{
    color: white;
}
.dropdown-menu a{
    color: black!important;
}