#content{
    height: 100%;
    margin-bottom: -70px;
}
footer{
    background-color: #1E124D;
    width: 100%;
    height: 70px;
    
    /* position: inherit;
    margin-top: 80px;
    bottom: 0px; */
    
}

.login{
    background: url(./../assets/image/pnn.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.footer-login{
    position: absolute;
    bottom: 0;
}


#secundario{
    width: 100%;
    height: 15px;
    background-color: #2F2559;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#marinha-logo{
    width: 53px;
    position: relative;
    bottom: 37px;
}
#marinha-logo img{
    width: 100%;
}

#navbar {
    /* padding-left: 80px; */
    padding-right: 80px;
    background-color: #212F6F!important;
}

#conteudoNavbarSuportado{
    padding-left: 80px;
}
#navbar-ul li a{
    color: #cbbde2;
}
#navbar-ul li a:hover{
    color: #fff;
    cursor: pointer;
}
.active{
    color: #fff!important
}
#nav-configuracao ul li a{
    color: #cbbde2;
    cursor: pointer;
}

#nav-configuracao ul li a:hover{
    color: #fff;
}
.dropdown-menu a{
    color: rgba(0,0,0,.65)!important;
   
}
.dropdown-menu a:hover{
  
    color: rgba(0, 0, 0, 0.99)!important;
    background: rgba(37, 36, 36, 0.28);
    cursor: pointer;
}
.fa-user-circle{
    font-size: 21px;
    color: #c0bdd9;
}
.fa-user-circle:hover{
    color: white;
}
#perfil-user{
    font-style: italic;
    font-size: 13px;
    text-align: center;
}
.pesAtivo, .remAtivo, .addAtivo{
    color: #fff!important;
    
}

.conteudo{
    max-width: 80%;
    margin: 0 auto;
    min-height: 86.4%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.loading-img{
    position: relative;
    top: -190px;
}