
<!-- <div class="container">
    <h3 >Dados do Proprietário  </h3>
    breadcrumb
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home" >Pagina Inicial</a></li>
          <li class="breadcrumb-item"><a routerLink="/proprietarios/pesquisar" >Proprietários</a></li>
          <li class="breadcrumb-item active" aria-current="page">adicionar</li>
          </ol>
      </nav> -->
    <section>
        
        <form [formGroup]="formulario" (ngSubmit) = "onSubmit()">
            <div>


                <mat-form-field appearance="outline" id="nome">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Digite seu nome completo." formControlName="nome">
                </mat-form-field>
        
                <mat-form-field appearance="outline" id="nip">
                    <mat-label>Nip</mat-label>
                    <input matInput placeholder="Digite seu nip"   mask="00.0000.00" formControlName="nip">
                    <!-- <mat-error>{{ getNip() }}</mat-error> -->
                </mat-form-field> 
                
                <mat-form-field appearance="outline" >
                    <mat-label> Email </mat-label>
                    <input matInput placeholder="joao@exemplo.com"  formControlName="email">
                    <!-- <mat-error *ngIf = "formulario.get('email').invalid"> {{ emailErro() }} </mat-error> -->
                
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>CNH</mat-label>
                    <input matInput placeholder="Digite a CNH"     mask="00000000000"  formControlName="cnh">
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>N° Cartão do estacionamento</mat-label>
                    <input matInput placeholder="Digite o numero do cartao"    mask="000" formControlName="cartao">
                </mat-form-field>






                <!-- veiculos -->


                <h4 >Veiculo  <a  (click) = "incrementa()" class="adicionar"><i class="fas fa-plus-circle"></i></a></h4>
                <div formArrayName="veiculo" *ngFor="let veiculos of formulario.get('veiculo').controls; let i = index">
                    <br>
                    <div [formGroupName]="i">
                    <mat-form-field appearance="outline" >
                        <mat-label>Modelo</mat-label>
                        <input matInput placeholder="Modelo do veiculo"  formControlName="modelo" >
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                            <mat-label>montadora</mat-label>
                            <mat-select formControlName="idMontadora">
                                    <mat-option *ngFor="let m of montadoraLista" [value]="m.id" > 
                                      {{ m.descricao }}
                                    </mat-option>
                            </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                            <mat-label>Ano</mat-label>
                            <input matInput placeholder="Ano"  formControlName="ano" >
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                            <mat-label>Placa</mat-label>
                            <input matInput placeholder="Placa"  formControlName="placa" >
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                            <mat-label>Chassi</mat-label>
                            <input matInput placeholder="Chassi"  formControlName="chassi" >
                    </mat-form-field>
                     </div>
                    <hr *ngIf="formulario.value.veiculo.length !== 1">
                </div>
                <br>
                <button mat-raised-button color="primary" type="submit">Cadastrar</button>  
            </div>
            
            
        </form>
    </section>
  <!-- </div> -->

