
<!-- <div class="container">
    <h3 >Dados do Proprietário  </h3>
    breadcrumb
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home" >Pagina Inicial</a></li>
          <li class="breadcrumb-item"><a routerLink="/proprietarios/pesquisar" >Proprietários</a></li>
          <li class="breadcrumb-item active" aria-current="page">adicionar</li>
          </ol>
      </nav> -->
    <section>
        
        <form [formGroup]="formulario" (ngSubmit) = "onSubmit()">
            <div>
                <h4 >Veiculo  <a  (click) = "incrementa()" class="adicionar"><i class="fas fa-plus-circle"></i></a></h4>
                <div formArrayName="veiculo" *ngFor="let veiculos of formulario.get('veiculo').controls; let i = index">
                    <br>
                    <div [formGroupName]="i">
                    <mat-form-field appearance="outline" >
                        <mat-label>Modelo</mat-label>
                        <input matInput placeholder="Modelo do veiculo"  formControlName="modelo" >
                    </mat-form-field>
                     </div>
                    <hr *ngIf="formulario.value.veiculo.length !== 1">
                </div>
                <br>
                <button mat-raised-button color="primary" type="submit">Cadastrar</button>  
            </div>
            
            
        </form>
    </section>
  <!-- </div> -->

