<div class="container">
    <div class="row espaco-acima">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 alinhamento">
            <div class="card" >
                <div class="card-body">
                  <h1 class="card-title">35</h1>
                  <p class="card-subtitle mb-2 text-muted">Usuários</p>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 espaco-lateral alinhamento">
            <div class="card" >
                <div class="card-body">
                  <h1 class="card-title">35</h1>
                  <p class="card-subtitle mb-2 text-muted">Veículos</p>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 alinhamento">
            <div class="card" >
                <div class="card-body">
                  <h1 class="card-title">35</h1>
                  <p class="card-subtitle mb-2 text-muted">Cartões</p>
                  
                </div>
              </div>
        </div> 
    </div>
    <div class="row espaco-acima">
      <div class="col-lg-12 col-md-12 col-xl-12">

      
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="historico-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="historico" aria-selected="true">Histórico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="cartao-tab" data-toggle="tab" href="#cartao" role="tab" aria-controls="cartao" aria-selected="false">Cartão a vencer</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="historico" role="tabpanel" aria-labelledby="historico-tab">
                  
                    <div class="row espaco-acima">
                          <div class="col-3">
                            <div class="nav  flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                              <a class="nav-link active nav-button" id="v-pills-cadastro-tab" data-toggle="pill" href="#v-pills-cadastro" role="tab" aria-controls="v-pills-cadastro" aria-selected="true">Usuários Cadastrados</a>
                              <a class="nav-link  nav-button" id="v-pills-excluido-tab" data-toggle="pill" href="#v-pills-excluido" role="tab" aria-controls="v-pills-excluido" aria-selected="false">Usuários Excluidos</a>

                            </div>
                          </div>
                          <div class="col-8">
                            <div class="tab-content" id="v-pills-tabContent">
                              <div class="tab-pane fade show active" id="v-pills-cadastro" role="tabpanel" aria-labelledby="v-pills-cadastro-tab">
                                 
                                <div class="card">
                                  <p>Ultima atualização ontem as 05:54.</p>
                                  <div class="card-body" id="corpo-tab">
                                    <strong>21/01/2020</strong>
                                    <hr>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <strong>30/01/2020</strong>
                                    <hr>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <strong>21/01/2020</strong>
                                    <hr>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <strong>30/01/2020</strong>
                                    <hr>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                    <p>Foi cadastrado o cartao 0021 no usuario 16115597 as 19:54 hrs.</p>
                                  </div>
                                </div>

                              </div>
                              <div class="tab-pane fade" id="v-pills-excluido" role="tabpanel" aria-labelledby="v-pills-excluido-tab">

                                <div class="card">
                                  <p>Ultima atualização hoje as 19:54.</p>
                                  <div class="card-body" id="corpo-tab">
                                    <strong>25/02/2020</strong>
                                    <hr>
                                    <p>Foi excluido do sistema o cartao 0021 do usuario 16115597 as 07:54 hrs.</p>
                                    <p>Foi excluido do sistema o cartao 0021 do usuario 01010051 as 07:54 hrs.</p>
                                    <p>Foi excluido do sistema o cartao 0021 do usuario 15151214 as 07:54 hrs.</p>
                                    <strong>30/02/2020</strong>
                                    <hr>
                                    <p>Foi excluido do sistema o cartao 0021 do usuario 01010051 as 07:54 hrs.</p>
                                    <p>Foi excluido do sistema o cartao 0021 do usuario 15151214 as 07:54 hrs.</p>
                                  </div>
                                </div>



                              </div>
                              
                            </div>
                          </div>
                        </div>

              </div>
            <div class="tab-pane fade" id="cartao" role="tabpanel" aria-labelledby="cartao-tab">

              <div class="card">
                <div class="card-body">
                  <h5 id="vazio">Nenhum cartao vencido</h5>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
</div>  
