<div class="container">
    <div class="row espaco-acima">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 alinhamento">
            <div class="card" >
                <div class="card-body">
                  <h1 class="card-title">35</h1>
                  <p class="card-subtitle mb-2 text-muted">Usuários</p>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 espaco-lateral alinhamento">
            <div class="card" >
                <div class="card-body">
                  <h1 class="card-title">35</h1>
                  <p class="card-subtitle mb-2 text-muted">Veículos</p>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 alinhamento">
            <div class="card" >
                <div class="card-body">
                  <h1 class="card-title">35</h1>
                  <p class="card-subtitle mb-2 text-muted">Cartões</p>
                  
                </div>
              </div>
        </div> 
    </div>
    <div class="row espaco-acima">
   <div class="col-sm-12 col-lg-12">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Ativo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Desativado</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Título especial</h5>
          <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
      
    </div>
</div> 
</div>
