.espaco-lateral{
    padding-left: 15px; 
    padding-right: 15px; 
}
.espaco-acima{
    padding-top: 30px;
}
.alinhamento .card .card-body{
    text-align: center;
    color: #212F6F!important;
   
}
.card{
    border: 0px!important;
}
.card-header{
    background-color: #ebeef0;
}
.tab-content{
    background-color: #fff;
    min-height: 300px;
}
.nav-button.active{
    background-color: #212f6f!important ;
    color: white;
}
.nav-button.active:hover{
    color: white;
}
.nav-button{
    color: #495057;
}
.nav-button:hover{
    color: #212f6f;
}
#cartao-tab, #historico-tab{
    color: #495057; 
}
#corpo-tab p{
    font-style: italic;
    text-align: center;
}
#vazio{
    text-align: center;
    padding: 100px;
}