

<!-- container principal -->
<div >
    <h3 >Proprietários  <a routerLink="/proprietarios/adicionar"  class="adicionar"><i class="fas fa-plus-circle"></i></a></h3>
      <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home" >Pagina Inicial</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proprietários</li>
            </ol>
        </nav>
        
      
<router-outlet></router-outlet>
      
       
</div>